.active
{
   transform: translate(600px);
}

.menu-list
{
   background-image: $background_menu;
   box-shadow: 2px 0px 5px 2px #b7abab;
   height: 100vh;
   left: 0;
   position: absolute;
   top: 0;
   transition: all .5s ease-in;
   width: 400px;

   .list
   {
      list-style: none;
      padding: 80px 0px 20px 0px;

      &__item
      {
         color: $black;
         cursor: pointer;
         display: block;
         font-size: 18rem;
         padding: 10px 40px;
         text-decoration: none;
      }

      &__item:hover
      {
         background-color: rgb(228,228,228);
         color: rgb(42,42,42);
      }
   }
}

.menu-mobile
{
   background-image: $background_icon;
   border-radius: 5px;
   cursor: pointer;
   height: 40px;
   margin: 0;
   position: absolute;
   left: 40px;
   transition: 1s ease-in;
   top: 20px;
   width: 40px;
   z-index: 1;

   .icon-burger
   {
      height: 30px;
      margin: 5px;
      position: relative;
      width: 30px;

      &__line-1 
      {
         transform: translate(-50%, -13px);
      }

      &__line-3
      {
         transform: translate(-50%, 10px);
      }
   }

   span 
   {
      background: $white;
      border-radius: 5px;
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: transform 0.5s, width 0.5s;
      top: 50%;
      width: 100%;
   }
}

.openmenu .icon-burger__line-1 
{
   transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .icon-burger__line-3 
{
   transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .icon-burger__line-2 
{
   width: 0;
}