.background
{
   background-image: url('https://omarsav.com/images/getmore/groupx2.png');
   background-position: 55%;
   background-size: cover;
   height: 100vh;
   position: relative;
   width: 100%;
}

.ball 
{
   display: none;
   padding: 20px;
}

.container-main 
{
   margin: 0 auto;
   padding-top: 65%;
   width: 80%;

   &__title
   {
      color: $white;
      font-weight: normal;
      font-size: 36rem;
      letter-spacing: -0.5px;
      line-height: 1.28;
      padding-bottom: 40px;

      span 
      {
         color: $yellow;
         font-weight: bold;
      }
   }

   .button 
   {
      background-color: transparent;
      border-radius: 26.5px;
      border: solid 1px $white;
      box-sizing: border-box;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 14rem;
      font-weight: bold;
      height: 53px;
      justify-content: space-between;
      line-height: 1.5;
      padding: 15px 39px 15px 30px;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      width: 269px;
   }

   .arrow
   {
      width: 23px;
   }
}