.background
{
   background-image: url('https://omarsav.com/images/getmore/background_principal.png');
   background-position: 55%;
   background-size: cover;
   height: 100vh;
   position: relative;
   width: 100%;
}

.ball 
{
   display: none;
   padding: 20px;
}

.container-main 
{
   margin: 0 auto;
   padding-top: 40vh;
   width: 80%;

   &__title
   {
      color: $white;
      font-weight: normal;
      font-size: 36rem;
      letter-spacing: -0.5px;
      line-height: 1.28;
      padding-bottom: 40px;
      width: 300px;

      span 
      {
         color: $yellow;
         font-weight: bold;
      }
   }

   .button 
   {
      background-color: transparent;
      border-radius: 26.5px;
      border: solid 1px $white;
      box-sizing: border-box;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 14rem;
      font-weight: bold;
      height: 53px;
      justify-content: space-between;
      line-height: 1.5;
      padding: 15px 39px 15px 30px;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      width: 269px;
   }

   .arrow
   {
      width: 23px;
   }

   .line
   {
      display: none;
   }
}

@media screen and (min-width: 1024px)
{
   .container-main 
   {
      padding-top: 30vh;
      width: 75%;

      &__title 
      {
         width: 700px;
         font-size: 53rem;
      }
   }

   .line 
   {
      background: $white;
      display: block;
      height: 100vh;
      margin-left: 105px;
      position: absolute;
      top: 0;
      width: 2px;
   }

   .ball 
   {
      display: block;
      position: absolute;
      top: 0;
   }
}