$background_menu: linear-gradient(to right, #f1ecee, #ffffff);
$background_icon: linear-gradient(to right, #e91e63, #f44336);
$black: #000;
$white: #fff;
$yellow: #cbe346;
$dark: #282e47;
$items_footer: #2b3049;
$grey: #f3f4f8;