.footer 
{
   background: $yellow;
   position: absolute;
   width: 100%;
}

.footer-menu 
{
   list-style: none;
   padding: 50px 50px 0;

   li 
   {
      padding: 8px 0;
   }

   &__item 
   {
      color: #2b3049;
      font-size: 16rem;
      text-decoration: none;
   }
}

.footer-social 
{
   display: flex;
   justify-content: space-evenly;
   padding: 30px 50px 50px 32px;
   width: 80%;
}

.ball-footer 
{
   left: 75%;
   position: relative;
   top: 50px;
}